* {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.main {
    display: flex;
}

.userbox{
    height: 200px;
    width: 500px;
    border: solid;
    border-color: black;
    margin-top: 50px;
    margin-left: 250px;
    padding-top: 30px;
    padding-left: 40px;
}

.userheader{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 110px;
}

.topcontents{
    display: flex;
}

.likebutton{
    height: 40px;
    width: 100px;
    background-color: rgb(241, 204, 71);
    font-size: 25px;
}

.likenum{
    font-size: 20px;
    color: black;
    margin-right: 5px;
    margin-top: 8px;

}

.likeword{
    font-size: 20px;
    margin-right: 40px;
    margin-top: 8px;
}

.filler{
    font-size: 25px;
    color: black;
    margin-top: 80px;
}